<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406633233507-avi80bl8fjj00dr3jcktpagg4uqjm9rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406633233507-avi80bl8fjj00dr3jcktpagg4uqjm9rq</string>
	<key>API_KEY</key>
	<string>AIzaSyC--KgPQpXTdTHV6uAOsv3DsT3wdH6qN68</string>
	<key>GCM_SENDER_ID</key>
	<string>406633233507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Afnan-khalid.eBook</string>
	<key>PROJECT_ID</key>
	<string>ebook-15fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>ebook-15fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406633233507:ios:047e34dccd99d81b4dcc56</string>
</dict>
</plist>