<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018581931140-nud57migjkuei9md7abdbsqrm1hueuea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018581931140-nud57migjkuei9md7abdbsqrm1hueuea</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ8WFjv4r4XjnXcgVQjQNAK0B11FPL48c</string>
	<key>GCM_SENDER_ID</key>
	<string>1018581931140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kholod.com.BakeryCake</string>
	<key>PROJECT_ID</key>
	<string>bakerycakes-ca794</string>
	<key>STORAGE_BUCKET</key>
	<string>bakerycakes-ca794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018581931140:ios:04834fa2c7b811117dded1</string>
</dict>
</plist>