<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075496825336-9mlnoom10sv95dop77dj2o7q5d1t532j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075496825336-9mlnoom10sv95dop77dj2o7q5d1t532j</string>
	<key>API_KEY</key>
	<string>AIzaSyBKZBZYAqXiO5wiWwPXLppDN-ZUPlcSk7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1075496825336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimasiri.Where</string>
	<key>PROJECT_ID</key>
	<string>day24-163d8</string>
	<key>STORAGE_BUCKET</key>
	<string>day24-163d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075496825336:ios:38c03f3cab40be643a660d</string>
</dict>
</plist>